:root{
  --gray-dark: #605f5d;
  --gray-light: #c8c8c8;
  --yellow-dark: #ffb800;
  --yellow-light: #f9e000 ;
  --black: #010101;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--black);
  color: var(--gray-light);

  overflow-x: hidden;
}

.home{
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;

  position: relative;

  overflow-x: hidden;
}

.name{
  position: absolute;
  bottom: 10%;
  left: 10%;
  
  letter-spacing: .1em;  
}

.description{
  position: absolute;
  top: 10%;
  right: 10%;
  
  text-align: right;
  letter-spacing: .1em;
}

.nav{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: var(--gray-dark);
  font-weight: 500;
}

.nav a {
  font-weight: bold;
  color: var(--gray-dark);
  transition: all .5s;

  padding: 10px 5px;
  
  outline: none;
  cursor: pointer;

  margin-right: 5px;

  position: relative;
}

.nav a::before {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 2px;
  width: 0%;

  background-color: var(--yellow-dark);

  transition: 0.5s;
}
  
.nav a:hover::before,
.nav a.active::before,
.nav a:focus::before{
  width: 100%;
}

.nav a:hover,
.nav a.active,
.nav a:focus{
  color: var(--yellow-dark);
}

a{
  text-decoration: none;
}

/* PAGE CURRICULUM */
.curriculum{
  padding: 5% 10%;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.curriculum h1{
  display: none;
}
.content{
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content a{
  color: var(--gray-light);
  transition: color .2s;
}
.content a:hover{
  color: var(--yellow-dark);
}
.content h2, .content h3, .content h4{
  color: var(--gray-dark);
}
.content h3, .content h4{
  /*add espaçamento*/
  margin-bottom: 10px;
}

.content ul{
  list-style: none;
}

.content .left{
  width:  35%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding-right: 5%;

  overflow-x: hidden;

}
.content .left p{
  margin-bottom: 25px;
}
.content .left .content-bottom:nth-child(2){
  text-align: justify;
}
.content .left .content-bottom .skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.content .left .content-bottom .skills .skill{
  border: 1px solid var(--yellow-dark);
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.content .left .content-bottom .infos .contacts{
  margin-bottom: 25px;
}
.content .left .content-bottom .infos .contacts a{
  font-size: 2.5em;
  margin-right: 5%;
}

.content .right{
  width: 65%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding-left: 5%;
  border-left: 1px solid var(--yellow-dark);

  overflow-x: hidden;
}
.content .right div{
  width: 100%;
}
.content .right ul{
  margin-bottom: 25px;
}
.content .right li{
  margin-bottom: 5px;
}
.content .right .small{
  font-size: 0.8em;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
}

.back{
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.download{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.back a, .download a{
  color: var(--yellow-dark);
  font-weight: bold;
  transition: all .3s;

  border: 1px solid var(--yellow-dark);
  padding: 5px 10px;
  border-radius: 15px;

}
.back a:hover, .download a:hover{
  color: var(--black);
  background-color: var(--yellow-dark);
  box-shadow: 0 0 40px 40px var(--yellow-dark) inset;
}
 
/* PAGE PORTFOLIO*/
.portfolio{
  padding: 5% 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.portfolio h1{
  display: none;
}
.portfolio .content{
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.portfolio .content h2 {
  display: block;
}

.portfolio .content .top{
  width:  100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 5%;
  overflow-x: hidden;

  animation: up 0.6s forwards;
}

.portfolio .content .bottom{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 5%;
  border-top: 1px solid var(--yellow-dark);

  overflow-x: hidden;
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio .content .bottom .container{
  column-count: 4;
  column-gap: 15px;

  animation: down 0.8s forwards;
}

.portfolio .content .bottom .container .card{
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  break-inside: avoid;
  background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.portfolio .content .bottom .container .card img{
  width: 100%;  
  transition: 0.4s;
}

.portfolio .content .bottom .container .card .infos{
  border-top: 1px solid var(--yellow-dark);
  padding: 15px;
}

.portfolio .content .bottom .container .card .infos p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 10px;
}
.portfolio .content .bottom .container .card .infos .link-external {
  display: flex;
  flex-direction: column;
}
.portfolio .content .bottom .container .card .infos .link-external a {
  font-size: 14px;
}
.portfolio .content .bottom .container .card .infos .link-external a:nth-child(1){
  margin-bottom: 5px;
}

.portfolio .content .bottom .container .card .infos .techs {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 15px;
}
.portfolio .content .bottom .container .card .infos .techs .tech{
  border: 1px solid var(--yellow-dark);
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* PAGE CONTACTS */
.page-contacts{
  padding: 5% 10%;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.page-contacts h1{
  display: none;
}
.page-contacts .content .left{
  width:  15%;
}

.page-contacts .content .right{
  width: 85%;
  overflow-x: hidden;
}
.links{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  align-items: center;
  font-size: 2.5em;
  margin-top: 60px;
}

.links a {
  margin-bottom: 0.5em;
}

form {
  overflow: hidden;
  width: 60%;
  
  margin: 32px 0;
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.03);
  

  display: flex;
  flex-wrap: wrap;
}

form .input-block {
  margin-bottom: 24px;
  position: relative;
}
form .input-block:last-child{
  margin-bottom: 0;
}

form .input-block input, 
form .input-block textarea,
form .input-block button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  padding: 14px 0;
  border: none;
  border-bottom: 1px solid var(--yellow-dark);
  background-color: transparent;
  outline: none;

  color: var(--gray-light);
  
  font-size: 16px;
}

form .input-block button {
  width: 50%;
  margin-bottom: 0;
  border-radius: 15px;
  background-color: var(--yellow-dark);
  color: var(--black);
  font-weight: bold;
}

form .input-block button:hover{
  cursor: pointer;
  opacity: 0.8;
}

form .input-block input ~ label,
form .input-block textarea ~ label {
  font-size: 14px;
  color: var(--gray-light);

  position: absolute;
  top: 16px;
  left: 0;
  transition: .4s;
}

form .input-block input.active ~ label,
form .input-block input:focus ~ label,
form .input-block input:valid ~ label,
form .input-block textarea.active ~ label,
form .input-block textarea:focus ~ label,
form .input-block textarea:valid ~ label{
  transform: translateY(-24px);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--yellow-dark);
}

form .input-block span.error {
  display: flex;
  width: 100%;
  background-color: rgba(255, 55, 55, 0.08);
  font-size: 12px;
  font-weight: bold;
}

form .input-block:nth-child(4) span.error{
  margin-top: -5px;
}

form .input-block span.error.active {
  border: 1px solid  rgba(255, 55, 55, 0.40);
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ANIMAÇÃO DO FORM */
form, .page-contacts .content .right h2{
  animation: fade-in .5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* ANIMAÇÃO DOS INPUTS */
form .input-block:nth-child(1) {
  animation-name: move;
  animation-duration: 400ms;
}
form .input-block:nth-child(2) {
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}
form .input-block:nth-child(3) {
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}
form .input-block:nth-child(4) {
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}
form .input-block:nth-child(5) {
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}

.curriculum .content .right div:nth-child(1){
  animation-name: move;
  animation-duration: 400ms;
  animation-fill-mode: backwards;
}
.curriculum .content .right div:nth-child(2){
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}
.curriculum .content .right div:nth-child(3){
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}
.curriculum .content .right div:nth-child(4){
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}
.curriculum .content .right div:nth-child(5){
  animation-name: move;
  animation-duration: 400ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.links a:nth-child(1) {
  animation-name: move2;
  animation-duration: 400ms;
}
.links a:nth-child(2) {
  animation-name: move2;
  animation-duration: 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}
.links a:nth-child(3) {
  animation-name: move2;
  animation-duration: 400ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}
.links a:nth-child(4) {
  animation-name: move2;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}
.links a:nth-child(5) {
  animation-name: move2;
  animation-duration: 400ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}

.curriculum .content .left div:nth-child(1){
  animation-name: move2;
  animation-duration: 400ms;
  animation-fill-mode: backwards;
}
.curriculum .content .left div:nth-child(2){
  animation-name: move2;
  animation-duration: 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}
.curriculum .content .left div:nth-child(3){
  animation-name: move2;
  animation-duration: 400ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}
.curriculum .content .left div:nth-child(4){
  animation-name: move2;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

@keyframes move2 {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.success {
  height: 100%;
  width: 100%;
  position: absolute;
  
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}
.success h3{
  color: var(--yellow-dark);
  font-size: 22px;
  word-wrap: break-word;
}

.success-show {
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

/* ANIMAÇÃO DE NEGAÇÃO DO FORM */
form.validate-error {
  animation: nono 250ms linear, fade-in paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%, 100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-5%);
  }
  70% {
    transform: translateX(5%);
  }
}


/* MEDIA QUERY */
@media all and (max-width: 1100px){
  .portfolio .content .bottom .container {
    column-count: 3;
  }
}
@media all and (max-width: 900px){
  form {
    width: 60%;
  }
}
@media all and (max-width: 850px){
  form {
    width: 80%;
  }
}
@media all and (max-width: 800px){
  .portfolio .content .bottom .container {
    column-count: 2;
  }
}
@media all and (max-width: 550px){
  .portfolio .content .bottom .container {
    column-count: 1;
  }
  form {
    width: 100%;
  }
}

@media all and (max-width: 650px){
  .curriculum .content{
    flex-direction: column;
  }
  .curriculum .content .left{
    width: 100%;
    padding-top: 5%;
    
    padding-right: 0;
    
  }
  .curriculum .content .left .content-bottom .infos .contacts{
    display: none;
  }
  .curriculum .content .right{

    width: 100%;
    
    padding-left: 0;
    border: none;
  }
  form {
    width: 100%;
  }
}
@media all and (max-width: 450px){
  .portfolio .content .bottom .container {
    column-count: 1;
  }
  form {
    width: 100%;
  }
  .page-contacts .content{
    display: flex;
    flex-direction: column;
  }
  .page-contacts .content .left{
    width: 100%;
  }
  .page-contacts .content .left .links{
    flex-direction: row;
  }
  .page-contacts .content .right {
    border-top: 1px solid var(--yellow-dark);
    padding: 0;
    padding-top: 15px;
    border-left: none;
    width: 100%;
  }
}